/*padrão de alguns container principais do site */
.layout--alignment {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0px 20px;
}

/* botão */
.button {
  background: linear-gradient(#FFBF00, #F2A50C);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--color-p5);
  display: inline-block;
  font: 600 1.8rem/1.35 "Poppins", sans-serif;
  /* valor max-content ele vai ter o tamanho máximo do conteúdo */
  max-width: max-content;
  padding: 16px 32px;
  text-transform: uppercase;
}
.button:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
/* botão preto secundario */
.button.second {
  background: var(--color-10);
  color: var(--color-2);
}

.button.second:hover {
  background: var(--color-9);
}

/* botão link que fica no container technology */
.content__link {
  display: inline-block;
  color: var(--color-p1);
  font: 500 2.4rem/1.5 'Poppins', sans-serif;
  text-transform: uppercase;
}

.content__link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  /* vai pegar o valor do elemento pai */
  background-color: currentColor;
}

.content__link:hover {
  color: var(--color-0);
}

@media (max-width:600px) {
  .button {
    padding: 12px 16px;
    font-size: 1.6rem;
  }
}

/* titulo  das paginas internas, no topo*/

.title--bg{
  padding: 60px 0px;
  background-color: var(--color-11);
}
.title p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding: 40px 20px;
  }
  .title p {
    font-size: 1.6rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}



