.main--bg {
  background-color: var(--color-12);
  box-shadow: inset 0 -120px var(--color-0);
}

.main--template {
  display: grid;
  gap: 0px 40px;
  grid-template-columns: 1fr 1fr;
}

.main__text {
  align-self: end;
  padding-bottom: 200px;
}

.main__text h1 {
  margin-bottom: 32px;
}

.main__text p {
  margin-bottom: 20px;
}


.main__image img {
  border-radius: 4px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 800px) {
  .main--bg {
    background-color: var(--color-11);
    box-shadow: inset 0 -60px var(--color-0);
    padding-top: 40px;
  }

  .main--template {
    gap: 32px;
    grid-template-columns: 1fr;
  }

  .main__text {
    padding-bottom: 0px;
  }
  
  .main__text h1 {
    margin-bottom: 16px;
  }

  .main__image img{
    height: 300px;
    width: 100%;
  }
}
